@model OlympicGames.Models.TeamListViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Team Details</h1>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<div class="d-flex flex-row bg-light">
    <img style="margin: 3px; height: 120px;" src="https://cdn.countryflags.com/thumbs/@Model.Team.Country.NameSlug/flag-400.png" />
    <div>
        <div class="d-flex flex-column">
            <span>@Model.Team.Country.Name</span>
            <span>@Model.Team.Games.Name</span>
            <span>@Model.Team.Sport.Name</span>
            <a type="button" class="btn btn-success" asp-controller="Favorites"
               asp-action="AddFavorite" asp-route-teamID="@Model.Team.TeamID">Add to Favorites</a>
        </div>
    </div>
</div>
